@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url(/3rdparty/atkinson-hyperlegible/Atkinson-Hyperlegible-Regular-102a.woff2);
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  font-style: italic;
  src: url(/3rdparty/atkinson-hyperlegible/Atkinson-Hyperlegible-Italic-102a.woff2);
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  font-weight: bold;
  src: url(/3rdparty/atkinson-hyperlegible/Atkinson-Hyperlegible-Bold-102a.woff2);
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  font-weight: bold;
  font-style: italic;
  src: url(/3rdparty/atkinson-hyperlegible/Atkinson-Hyperlegible-BoldItalic-102a.woff2);
}

@font-face {
  font-family: "JetBrains Mono";
  src: url(/3rdparty/JetBrainsMono/JetBrainsMono-Regular.woff2);
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: italic;
  src: url(/3rdparty/JetBrainsMono/JetBrainsMono-Italic.woff2);
}

@font-face {
  font-family: "JetBrains Mono";
  font-weight: bold;
  src: url(/3rdparty/JetBrainsMono/JetBrainsMono-Bold.woff2);
}

@font-face {
  font-family: "JetBrains Mono";
  font-weight: bold;
  font-style: italic;
  src: url(/3rdparty/JetBrainsMono/JetBrainsMono-BoldItalic.woff2);
}