$text-color: light-dark(#1d1821, #e9e2ef);
$background-color: light-dark(#fcf9ff, #1d1821);
$color-primary-1: #985ee1;
$color-deemph: #888888;

:root {
  color-scheme: light dark;
  font-family: "Atkinson Hyperlegible", "Mulish", sans-serif;
  font-size: 1.4rem;
}

body {
  padding: 0;
  max-width: 48rem;
  margin: 0 auto;
  padding: 0 2rem;
  color: $text-color;
  background-color: $background-color;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  text-transform: lowercase;
}

.main-and-pfp {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
}

#main-bio {
  flex: 1;
  flex-basis: 12rem;
}

#pfp-img {
  flex: 1;
  max-width: 100%;
  max-height: 12rem;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: $color-primary-1;
  text-decoration: none;
}

a:hover {
  color: $color-primary-1;
  background-color: #581fdb26;
  border-radius: 4pt;
}

a:hover>code {
  background-color: transparent;
}

footer {
  font-size: smaller;
  margin-top: 2rem;
  padding-bottom: 1rem;
  color: $color-deemph;
}

.paper-venue {
  color: $color-deemph;
}

.paper-title {}

.paper-authors {}