$color-primary-1: #985EE1;

html {
  font-family: "Atkinson Hyperlegible", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}

code {
  font-family: "JetBrains Mono", monospace;
  font-size: smaller;
}

#pfp-img {
  max-width: 20em;
}

a {
  color: $color-primary-1;
  text-decoration: none;
}

a:hover {
  color: $color-primary-1;
  background-color: #581fdb26;
  border-radius: 4pt;
}

a:hover > code {
  background-color: transparent;
}
