$color-primary-1: #985ee1;

html {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-size: 1.4rem;
}

body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

main {
  flex-basis: 30rem;
  min-width: 0rem;
}

aside {
  flex-basis: 20rem;
  min-width: 0rem;
}

#pfp-img {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

section {
  flex-basis: 50rem;
}

code {
  font-family: "JetBrains Mono", monospace;
  font-size: smaller;
}

a {
  color: $color-primary-1;
  text-decoration: none;
}

a:hover {
  color: $color-primary-1;
  background-color: #581fdb26;
  border-radius: 4pt;
}

a:hover > code {
  background-color: transparent;
}
