{% extends "base.html" %}

{% block content %}

<main>
    <h1>sanketh</h1>
    <p>Hi 👋!!</p>
    <p>This website is under construction</p>
</main>

<aside id="profile-picture">
    <figure id="pfp-figure">
        <img id="pfp-img" src="/media/pfp.jpg"
            alt="Digital painting of a standard headshot showing a person looking at the camera. The person has gray skin, a partly robotic body connected to their head with wires, and is wearing glasses, and looks tired. The background is energy swirls of purple and yellow corresponding to the nonbinary flag." />
        <figcaption>pfp by <a href="https://astrophysician.tumblr.com">astrophysician</a></figcaption>
    </figure>
</aside>

<!-- 
<section>
    contact

</section>

<section>
    featured talks

    (click to see all)
</section>

<section>
    featured papers

    (click to see all)
</section> -->

<section>
    <h2>Socials</h2>
    <p>
        🐘 mastodon:
        <a rel="me" href="https://bratt.ing/@initsecret"><code>@initsecret@bratt.ing</code></a>
    </p>
    <p>
        🐘 alt mastodon:
        <a rel="me" href="https://bratt.ing/@sanketh"><code>@sanketh@bratt.ing</code></a>
    </p>
</section>

{% endblock content %}