{% extends "base.html" %} {% block content %}

<div class="main-and-pfp">
    <main id="main-bio">
        <h1>sanketh</h1>
        <p>
            Hi there! 👋🏽
        </p>
        <p>
            I'm a cryptographer, currently a final-year PhD student at <a href="https://tech.cornell.edu/">Cornell
                Tech</a>, advised by the inimitable
            <a href="https://rist.tech.cornell.edu/">Tom Ristenpart</a>.
        </p>
        <p>
            I use they/them pronouns. 🏳️‍🌈🏳️‍⚧️
        </p>
    </main>

    <aside id="profile-picture">
        <figure id="pfp-figure">
            <img id="pfp-img" src="/media/pfp.jpg"
                alt="Digital painting of a headshot of a robotgirl looking away from the camera. The robotgirl is human-shaped, has a human-like head with gray skin, a robotic body connected to the head with wires, and is wearing glasses. The background is energy swirls of purple and yellow corresponding to the nonbinary flag." />
            <figcaption id="pfp-caption">
                pfp by <a href="https://astrophysician.tumblr.com">astrophysician</a>
            </figcaption>
        </figure>
    </aside>
</div>

<div class="sections">
    <section>
        <h2>Contact</h2>
        <p>The best way to reach me is to email at <a id="email-anchor"></a>.</p>
    </section>

    <section>
        <h2>Talks</h2>
        {% set talks = get_section(path="talks/_index.md") %}
        {% for post in talks.pages %}
        {% if post.extra.link %}
        <p>
            <a class="paper-title" href="{{ post.extra.link }}">{{ post.title }}</a>
            <br />
            <!-- authors -->
            <span class="paper-authors">
                {% if post.authors | length == 1 %}
                {{ post.authors | first }}
                {% elif post.authors | length == 2 %}
                {{ post.authors | first }} and {{ post.authors | last }}
                {% else %}
                {% for author in post.authors %}
                {% if loop.last %}
                and {{ author }}
                {% else %}
                {{ author }},
                {% endif %}
                {% endfor %}
                {% endif %}
            </span>
            <br />
            <!-- venue -->
            <span class="paper-venue">
                {{ post.extra.venue }}
            </span>
            <!-- doi -->
            {% if post.extra.doi %}
            &nbsp; <a href="https://doi.org/{{ post.extra.doi }}">[doi]</a>
            {% endif %}
            <!-- talkvideo -->
            {% if post.extra.talkvideo %}
            &nbsp; <a href="{{ post.extra.talkvideo }}">[video]</a>
            {% endif %}
            <!-- talkslides -->
            {% if post.extra.talkslides %}
            &nbsp; <a href="{{ post.extra.talkslides }}">[slides]</a>
            {% endif %}
            <!-- abstract -->
            {% if post.extra.abstract %}
            &nbsp; <a href="{{ post.extra.abstract }}">[abstract]</a>
            {% endif %}
        </p>
        {% endif %}
        {% endfor %}
    </section>

    <section>
        <h2>Papers</h2>
        {% set papers = get_section(path="papers/_index.md") %}
        {% for post in papers.pages %}
        {% if post.extra.link %}
        <p>
            <a class="paper-title" href="{{ post.extra.link }}">{{ post.title }}</a>
            <br />
            <!-- authors -->
            <span class="paper-authors">
                {% if post.authors | length == 1 %}
                {{ post.authors | first }}
                {% elif post.authors | length == 2 %}
                {{ post.authors | first }} and {{ post.authors | last }}
                {% else %}
                {% for author in post.authors %}
                {% if loop.last %}
                and {{ author }}
                {% else %}
                {{ author }},
                {% endif %}
                {% endfor %}
                {% endif %}
            </span>
            <br />
            <!-- venue -->
            <span class="paper-venue">
                {{ post.extra.venue }}
            </span>
            <!-- eprint -->
            {% if post.extra.eprintlink %}
            &nbsp; <a href="{{ post.extra.eprintlink }}">[eprint]</a>
            {% endif %}
            <!-- arxiv -->
            {% if post.extra.arxivlink %}
            &nbsp; <a href="{{ post.extra.arxivlink }}">[arxiv]</a>
            {% endif %}
            <!-- doi -->
            {% if post.extra.doi %}
            &nbsp; <a href="https://doi.org/{{ post.extra.doi }}">[published]</a>
            {% endif %}
            <!-- doi -->
            {% if post.extra.publishedlink %}
            &nbsp; <a href="{{ post.extra.publishedlink }}">[published]</a>
            {% endif %}
            <!-- talkvideo -->
            {% if post.extra.talkvideo %}
            &nbsp; <a href="{{ post.extra.talkvideo }}">[talk video]</a>
            {% endif %}
            <!-- talkslides -->
            {% if post.extra.talkslides %}
            &nbsp; <a href="{{ post.extra.talkslides }}">[talk slides]</a>
            {% endif %}
            <!-- auxtalkvideo -->
            {% if post.extra.auxtalkvideo %}
            &nbsp; <a href="{{ post.extra.auxtalkvideo }}">[{{ post.extra.auxtalktext }} talk video]</a>
            {% endif %}
        </p>
        {% endif %}
        {% endfor %}
    </section>

    <section>
        <h2>Blog</h2>
        <p>
            I sometimes write words at <a href="https://ciphertext.blog">ciphertext.blog</a>. You can subscribe
            <a href="https://ciphertext.blog/rss/">via RSS</a> or by putting your email in the box below.
        </p>
        <iframe width="100%" height="100rem" frameborder="0" scrolling="no" src="/3rdparty/ghost/minimal.html"></iframe>
    </section>

    <section>
        <h2>Socials</h2>
        <p>
            I am
            <a rel="me" href="https://github.com/initsecret">@initsecret</a> on Github,
            <a rel="me" href="https://linkedin.com/in/initsecret">@initsecret</a> on LinkedIn,
            <a rel="me" href="https://bratt.ing/@initsecret">@initsecret@bratt.ing</a> on the Fediverse, and
            <a rel="me" href="https://bsky.app/profile/sanketh.bsky.social">@sanketh.bsky.social</a> on Bluesky.
        </p>
    </section>

    <section>
        <h2>Previously on...</h2>
        <p>
            Before grad school, I was an undergrad at the
            <a href="https://uwaterloo.ca">University of Waterloo</a>, where I spent
            lots of time at the
            <a href="https://uwaterloo.ca/institute-for-quantum-computing/">Institute for Quantum Computing</a>—some of
            it officially—where I drank lots of espresso and learnt a little
            quantum computing.
        </p>
    </section>
</div>

<script>
    const emailASCII = [109, 101, 64, 115, 110, 107, 116, 104, 46, 99, 111, 109];
    function sleep(ms) {
        return new Promise((resolve) => setTimeout(resolve, ms));
    }
    async function updateEmail() {
        let emailAnchor = document.getElementById("email-anchor");

        if (emailAnchor) {
            let decodedEmail = "************";

            for (let i = 0; i < emailASCII.length; i++) {
                decodedEmail =
                    decodedEmail.substring(0, i) +
                    String.fromCharCode(emailASCII[i]) +
                    decodedEmail.substring(i + 1, decodedEmail.length);
                emailAnchor.innerText = decodedEmail;
            }
            emailAnchor.href = `mailto:${decodedEmail}`;
        }
    }

    window.addEventListener("load", updateEmail);
</script>

{% endblock content %}