{% extends "base.html" %}

{% block content %}

<main>
    <h1>sanketh</h1>
    <p>Hi 👋!!</p>
    <p>I am a final-year PhD student at <a href="https://tech.cornell.edu/">Cornell Tech</a> where I work on
        cryptography, advised by the inimitable <a href="https://rist.tech.cornell.edu/">Tom Ristenpart</a>.</p>
    <p>🚧 This website is under construction 🚧</p>
</main>

<aside id="profile-picture">
    <figure id="pfp-figure">
        <img id="pfp-img" src="/media/pfp.jpg"
            alt="Digital painting of a standard headshot showing a person looking at the camera. The person has gray skin, a partly robotic body connected to their head with wires, and is wearing glasses, and looks tired. The background is energy swirls of purple and yellow corresponding to the nonbinary flag." />
        <figcaption>pfp by <a href="https://astrophysician.tumblr.com">astrophysician</a></figcaption>
    </figure>
</aside>

<section>
    <h2>Contact</h2>
    <p>The best to reach me to is to email at <a id="email-anchor"><code id="email-field"></code></a>.</p>
    <p>I use they/them pronouns and dislike titles. 🏳️‍🌈🏳️‍⚧️</p>
</section>

<!-- 
<section>
    talks

    (click to see all)
</section>

<section>
    papers

    (click to see all)
</section> -->

<section>
    <h2>Socials</h2>
    <p>
        ✍️ blog:
        <a rel="me" href="ciphertext.blog"><code>ciphertext.blog</code></a>
    </p>
    <p>
        🐘 mastodon:
        <a rel="me" href="https://bratt.ing/@initsecret"><code>@initsecret@bratt.ing</code></a>
    </p>
    <p>
        🐘 alt mastodon:
        <a rel="me" href="https://bratt.ing/@sanketh"><code>@sanketh@bratt.ing</code></a>
    </p>
</section>

<section>
    <h2>Previously on...</h2>
    <p>Before grad school, I was an undergrad at <a href="https://uwaterloo.ca">UWaterloo</a>, where I spend lots of
        time at the <a href="https://uwaterloo.ca/institute-for-quantum-computing/">Institute for Quantum Computing</a>,
        some of it officially, where I drank lots of espresso and learnt a little quantum computing.</p>
</section>

<script>
    const emailASCII = [109, 101, 64, 115, 110, 107, 116, 104, 46, 99, 111, 109];
    function sleep(ms) {
        return new Promise((resolve) => setTimeout(resolve, ms));
    }
    async function updateEmail() {
        let emailAnchor = document.getElementById("email-anchor");
        let emailField = document.getElementById("email-field");

        if (emailAnchor && emailField) {
            let decodedEmail = "************";

            for (let i = 0; i < emailASCII.length; i++) {
                decodedEmail =
                    decodedEmail.substring(0, i) +
                    String.fromCharCode(emailASCII[i]) +
                    decodedEmail.substring(i + 1, decodedEmail.length);
                emailField.innerText = decodedEmail;
            }
            emailAnchor.href = `mailto:${decodedEmail}`;
        }
    }

    window.addEventListener("load", updateEmail);
</script>

{% endblock content %}